@model LoginView

@{
    ViewData["Title"] = "Logowanie";
}

<div class="row justify-content-center">
    <div class="col-md-6 ">

        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-signin" }))
        {
            <div class="text-center mb-4">
                <h1 class="h3 mb-3 font-weight-normal">Logowanie</h1>
            </div>

            @Html.ValidationSummary()

            <div class="form-label-group">
                <label for="inputLogin">Login</label>
                @Html.TextBoxFor(x => x.Login, new { @placeholder = "Login", @class = "form-control", @id = "inputLogin" })
            </div>

            <div class="form-label-group">
                <label for="inputPassword">Hasło</label>
                @Html.PasswordFor(x => x.Password, new { @placeholder = "Hasło", @class = "form-control", @id = "inputPassword" })
            </div>

            <div class="checkbox mb-3 mt-3">
                @Html.CheckBoxFor(x => x.RememberMe, new { @id = "rememberme" })
                <label for="rememberme">Zapamiętać?</label>
            </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Zaloguj</button>
        }
    </div>
</div>